[MESSAGES CONTROL]

disable=
    fixme,
    line-too-long,
    trailing-comma-tuple,
    invalid-name,
    import-outside-toplevel,
    no-else-return,
    too-few-public-methods,
    too-many-nested-blocks,
    too-many-locals,
    too-many-return-statements,
    too-many-branches,
    too-many-statements,
